{% extends 'core/base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
    <h1 class="text-2xl font-medium text-center dark:text-white">Contact us</h1>

    <div class="sm:flex justify-evenly">
        <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100 dark:bg-gray-800">
            <h2 class="text-xl font-medium mb-3 dark:text-white">Customer Support</h2>
            <p class="dark:text-gray-300">
                Phone: +1-XXX-XXX-XXXX <br>
                Email: mabiraonline@gmail.com <br>
            </p>
        </div>
        <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100 dark:bg-gray-800">
            <h2 class="text-xl font-medium mb-3 dark:text-white">Seller Inquiries</h2>
            <p class="dark:text-gray-300">
                Email: sellers@marketplace.com <br>
                Media and Press Inquiries: <br>
                Email: media@marketplace.com <br>
            </p>
        </div>
        <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100 dark:bg-gray-800">
            <h2 class="text-xl font-medium mb-3 dark:text-white">Corporate Headquarters</h2>
            <p class="dark:text-gray-300">
                Marketplace Inc. <br>
                123 Main Street <br>
                City, State <br>
                Country <br>
            </p>
        </div>
        <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100 dark:bg-gray-800">
            <h2 class="text-xl font-medium mb-3 dark:text-white">Social Media</h2>
            <a href="" class="dark:text-gray-300">Facebook</a><br>
            <a href="" class="dark:text-gray-300">Instagram</a><br>
            <a href="" class="dark:text-gray-300">LinkedIn</a><br>
        </div>
    </div>
{% endblock %}